# Node 2 - Ray Worker
# Connects to Ray head on Node 1

services:
  ray-worker:
    image: rayproject/ray:latest-gpu
    container_name: ray-worker
    hostname: ray-worker
    network_mode: host
    ipc: host
    restart: unless-stopped
    runtime: nvidia
    user: root
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - RAY_HEAD_IP=${RAY_HEAD_IP:-10.15.105.105}
    volumes:
      - ./models:/models
      - ./data:/data
    command: >
      ray start
      --address=${RAY_HEAD_IP}:6379
      --num-gpus=2
      --block
    shm_size: 10gb
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
